{% extends 'base/base.html' %}

{% load static %}

{% block title %}
    All Meetups
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'meetups/css/all-meetups.css' %}">
{% endblock styles %}


{% block header %}
    We got great meetups coming up!
{% endblock header %}

{% block header_content %}
    <p>Find the one that best suits your needs!</p>
{% endblock header_content %}

{% block body %}
    <section>
        <h2>Upcoming Meetups</h2>
        <ol>
            {% for meetup in meetups %}
                <li class="meetup-item">
                    <article>
                        <div class="meetup-summary">
                            <div class="meetup-image">
                                <img src="" alt="">
                            </div>
                            <div class="meetup-details">
                                <h3>{{ meetup.title }}</h3>
                                <address>{{ meetup.address }}</address>
                            </div>
                        </div>
                        <div class="meetup-actions">
                            <a href="{% url 'meetup-details' meetup.slug %}" class="btn">More Details</a>
                        </div>
                    </article>
                </li>
            {% endfor %}
        </ol>
    </section>
{% endblock body %}